.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 20px;
    background: rgba(0, 0, 0, 1);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 20px;
    margin: 0.5% 10% 0 10%;
  }
  
  .navbar.scrolling {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 0 2px #1eade0, 0 0 5px #0ca2e2, 0 0 10px #2d9cd7,
    0 0 20px #b6b5d6, 0 0 40px #799cab, 0 0 80px #100ce2;
  }
  
  .nav-buttons button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dropdown {
    position: absolute;
    background: gray;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .dropdown.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  .dropdown a {
    padding: 8px 12px;
    color: white;
    text-decoration: none;
  }
  
  .dropdown a:hover {
    background: #1E90FF;
    border-radius: 3px;
  }
  
  @media (max-width: 768px) {
    .nav-links a {
      font-size: 16px;
    }
  
    .nav-buttons button {
      font-size: 18px;
    }
  }